<div id="config">
    <div>
        <span>Select background color: </span></br>
        <div class="color-rect red" ng-click="changeColor('red')"></div>
        <div class="color-rect green" ng-click="changeColor('green')"></div>
        <div class="color-rect blue" ng-click="changeColor('blue')"></div>
        <div class="color-rect purple" ng-click="changeColor('purple')"></div>
    </div>

    <div>
        <label>Select refresh time</label>
        <input type="number" placeholder="">
    </div>
</div>
