<div id="config">
    <div>
        <span>Select background color: </span></br>
        <div class="color-rect red" ng-click="setColor('red')"></div>
        <div class="color-rect green" ng-click="setColor('green')"></div>
        <div class="color-rect blue" ng-click="setColor('blue')"></div>
        <div class="color-rect purple" ng-click="setColor('purple')"></div>
    </div>

    <div>
        <label>Select refresh time</label>
        <input type="number" ng-model="interval" placeholder="">
    </div>
    <div>
        <input type="submit" ng-click="save_options()" placeholder="Save">
    </div>
</div>
