<div id="create">
    <h4>Nowa wiadomość</h4>  
    <form name="mailForm" novalidate>
        <label>
            <input type="text" name="title" ng-model="email.title" placeholder="Tytuł wiadomości" required>
            <div ng-show="mailForm.title.$invalid && !mailForm.title.$pristine" class="bubble">Tytuł jest wymagany.</div>
        </label>
        <label>
            <input type="text" name="email" ng-model="email.receivers" ng-change="validateEmail()" ng-list placeholder="Adresaci" required>
            <div ng-show="mailForm.email.$invalid && !mailForm.email.$pristine" class="bubble">To pole powinno zawierać co najmniej 1 adres e-mail.</div>
            <div ng-show="!validEmail && !mailForm.email.$invalid" class="bubble" class="bubble">Wpisz poprawny adres e-mail.</div>
        </label>
        <label>
            <textarea ng-model="email.content" name="content" placeholder="Treść" required></textarea>
            <div ng-show="mailForm.content.$invalid && !mailForm.content.$pristine" class="bubble">Pole treści nie może być puste</div>
        </label>
        <button ng-disabled="mailForm.$invalid" ng-click="sendEmail()">Wyślij</button>
    </form>
</div>
