<div id="view" data-ng-init="getEmail()">
    <section>
        <header>
            <h4>{{email.title}}</h4>
            <p>Nadawca: <a href="mailto: {{email.sender}}">{{email.sender}}</a></p>
            <p>Odbiorca: {{email.receiver}}</p>
            <time>Data: {{email.date | date:'dd/MM/yyyy o H:mm' }}</time>
        </header>
        <article>
            {{email.content}}
        </article>
        <footer>
            <button type="button" ng-click="callToDeleteEmail()">Usuń</button>
            <button ng-click="respond()">Odpowiedz</button>
        </footer>
    </section>
    </form>
</div>
