<search></search>
<div id="inbox">
    <div ng-if="inbox.length > 0">
    <ul>
        <li ng-repeat="mail in inbox | filter: findmail | orderBy: '-received'"  class="{{mail.read}}">
            <a ng-click="read()">
                <div><p class="sender" ng-bind-html="mail.sender | highlight:findmail" >Nadawca: {{mail.sender}} </p><p class="time">Odebrano: {{mail.received}}</p><button id="delete" ng-click="delete($index)">Usuń</button></div>
                <p class="title" ng-bind-html="mail.title | highlight:findmail" >Tytuł: {{mail.title}}</p>
                <p class="content" ng-bind-html="mail.content | highlight:findmail" >{{mail.content}}</p>
            </a>
        </li>
    </ul>
    </div>
    
    <div ng-if="inbox.length == 0">
        <p class="empty" >Ładowanie wiadomości...</p>
    </div>
</div>

