* {
    padding: 0;
    margin: 0;
    transition: 200ms all;
    outline: none !important;
}

#inbox a, #outbox a {
  text-decoration: none;
}

#inbox li, #outbox li {
  padding: 10px;
  border: 1px solid grey;
  margin: 5px;
}

#inbox .false {
	background-color : green;
}

#inbox .true, #outbox .true {
	background-color: grey;
}

#inbox .sender, #outbox .receivers {
	color: white;
	padding-bottom: 5px;
	display: inline-block;
}

#outbox .receivers {
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#inbox	button, #outbox button {
	float: right;;
}

#inbox .title, #outbox .title {
	color: white;
	padding-bottom: 5px;
}

#inbox .content, #outbox .content {
	color: white;
	max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

div#inbox, div#outbox {
	width: 100%;
}