* {
    padding: 0;
    margin: 0;
    outline: none !important;
}
body{
    background-color: #ffffff;
}

button {
  cursor: pointer;
}

#inbox a, #outbox a {
  text-decoration: none;
}

#inbox li, #outbox li {
  padding: 10px;
  border: 1px solid grey;
  margin: 5px;
}

#inbox .false {
	background-color : #49D0E4;
}

#inbox .true, #outbox .true {
	background: rgba(0,0,0,0.1);
}

#inbox .true .sender, #inbox .true .content, #inbox .true .title  {
  color: black;
}

p.time {
  margin-left: 10px;
  display: inline-block;
  color: black;
}

#outbox p.time {
  float: right;
}

#inbox .sender, #outbox .receivers {
	color: black;
	padding-bottom: 5px;
	display: inline-block;
}

#outbox .receivers {
	overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#inbox	button {
	float: right;
  width: 100px;
  padding: 10px;
  border: none;
  color: rgba(255,255,255,1);
}

#inbox .true button {
  background: #49D0E4;
}

#inbox .false button {
  color: black;
}


#inbox .title, #outbox .title {
	color: black;
	padding-bottom: 5px;
}

#outbox .content, #outbox .receivers, #outbox .title{
  color: black !important;
}

#inbox .content, #outbox .content {
	color: black;
	max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

div#inbox, div#outbox {
	width: 100%;
}

/*
  Create email, Email view
*/

#create, #view {
  width: 30rem;
  background: rgba(0,0,0,0.1);
  margin: 0 auto;
  padding: 20px;
  margin-top: 5rem;
  overflow: hidden;
}
#create h4 {
    margin-bottom: 20px;
}
#create textarea {
  resize: none;
  width: 28.7rem;
  min-height: 100px;
}
#create button, #view button {
    width: 100px;
    padding: 10px;
    border: none;
    background: #49D0E4;
    color: rgba(255,255,255,1);
}
#create button[disabled], #view button[disabled] {
    opacity: 0.2;
}
#create label {
    width: 100%;
    overflow: hidden;
    float: left;
}

#create input, #create textarea {
    width: 28.7rem;
    margin-bottom: 0.5rem;
    height: 1rem;
    padding: 0.5rem;
    float: left;
}
#create form {
    width: 100%;
}
#create .bubble::after {
    border-color: red transparent;
    border-style: solid;
    border-width: 20px 0 0 30px;
    content: "";
    display: block;
    left: -30px;
    position: absolute;
    top: -1px;
    width: 0;
    z-index: 1;
}
#create .bubble {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid red;
    color: red;
    height: auto;
    margin-left: 31rem;
    margin-top: 0;
    min-width: 200px;
    padding: 10px;
    position: absolute;
}
#view header, #view h4, #view article {
  margin-bottom: 15px;
}

input#filter-mail {
    width: 100%;
    padding: 10px;
}

/*
  Config view
*/

.color-rect {
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: inline-block;
    margin: 10px;
    border: 2px solid #ffffff;
}

.color-rect.red {
    background-color: red;
}

.color-rect.purple {
    background-color: purple;
}

.color-rect.green {
    background-color: green;
}

.color-rect.blue {
    background-color: blue;
}

.red {
    color: red;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.purple {
    color: purple;
}

/*asd*/

#ui-view {
    width: 80%;
    float: left;
}

menu {
    width: 20%;
    float: left;
}

menu ul li {
    padding: 10px;
    color: black;
    text-transform: uppercase;
    border-bottom: 1px solid rgb(81, 0, 114);
    background-color: #F8F8F8;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.red {
    background-color: #e90d00;
    color: black;
}

.green {
    background-color: #1f8c22;
    color: black;

}

.purple {
    background-color: darkorchid;
    color: black;

}

.blue {
    background-color: #158cba;
    color: black;

}